.contact-container {
    
    width:100%;

}
  
  .contact-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .contact-container form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-container input,
  .contact-container textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  .contact-container input[type="text"],
  .contact-container input[type="email"],
  .contact-container textarea {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .contact-container button {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-container button:hover {
    background-color: #32a527;
  }
