


.join-us {
  padding: 10px;
  background: url("./assets/sublogo.jpg");
  width: 100%;
  height: 100%;
  background-attachment:calc(10);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(243, 237, 237);
  color:rgb(254, 252, 252) ;
  
}


.join-card {
  padding: 20px 15px;
  border: 2px solid #bc434d;
  border-radius: 10px ;
  margin: 10px;
  font-family:  BrandonTextWeb-Regular,Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
  color: solid white ;
  transition: transform 0.3s;
}

.join-card:hover {
  transform: scale(1.05);
  box-shadow: 20px 10px 25px #37f906; 
}


  

