


.hero {
  position: relative;
}

.hero-content {
  position:absolute;
  top: 50%;
  display: flex;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
  z-index: 2;
}

.hero-content h1 {
  display: flex;
  height: -8px;
  color: solid white;
  width: 700px;
  align-items: center;
  font-size: 43px;
  position: absolute;
  transform: translate(-50%, -190%);
  padding: 2px;
  opacity: 100%;
}

.gym-image {
  background-image: url("/assets/heropage.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: -95px;
  height: 750px; 
  opacity: 1000%;
}

.cta-button {
  padding: 15px 30px;
  display:flex;
  justify-content: center;
  align-items:flex-end;
  left:350px;
  right:400px;
  top:100px;
  font-size: 1.2em;
  background-color: #28ae40de;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
  background-color: #d3c124d5; 
  transform: scale(1.1);
  color: black;
}

